:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;
  background-image: url(fantasy-background.png);
  background-image: no-repeat;
  background-image: center;
  background-image: fixed;
  background-color: white;
  background-size: cover;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  width: 30rem;
  align-self: center;
  margin-bottom: 20px;
  /* background-color: white; */
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.padding {
  padding: 2em;
}

footer {
  color: #3a0882;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

.CookieBox {
  display: flex;
  flex-direction: column;
  background-color:#ffffff 0.3;

}

.CookieInfo {
  padding: 2px;
  display: flex; /* Make sure to use flex to keep column behavior */
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.5em;
  font-weight: 500;
  /* background-color: rgba(0, 0, 0, 0.1); */
}

.ShopContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 10px;
  row-gap: 15px;
}

.ShopBoxes {
  display: grid; /* You can remove this if you're using grid layout */
}

.ShopInfo {
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 250px;
  padding: 10px; /* Optional for inner padding */
  background-color: paleturquoise;
  opacity: 0.7;
  border-radius: 8px;
  
}

button {
  border-radius: 8px;
  border: 3px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  background-color: plum;
  transition: border-color 0.25s;
}
btn-buy:hover {
  border-color: #630bd5;
}
btn-buy:focus,
btn-buy:focus-visible {
  outline: 10px auto -webkit-focus-ring-color;
}

.unicorn-button{
  background-color: transparent;
  width: 440px;
  align-self: center;
}
.unicorn-button:hover {
  color: none;
} 



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
